@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 33% 90%;
    --foreground: 0 0% 6%;
    --card: 48 33% 90%;
    --card-foreground: 0 0% 6%;
    --popover: 48 33% 90%;
    --popover-foreground: 0 0% 6%;
    --primary: 151 62% 13%;
    --primary-foreground: 151 62% 93%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 151 62% 13%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 147 30% 28%;
    --sidebar-foreground: 147 30% 98%;
    --sidebar-primary: 142.1 76.2% 36.3%;
    --sidebar-primary-foreground: 142.1 76.2% 96.3%;
    --sidebar-accent: 147 30% 23%;
    --sidebar-accent-foreground: 147 30% 98%;
    --sidebar-border: 147 30% 23%;
    --sidebar-ring: 142.1 76.2% 36.3%;
  }

  .dark {
    --background: 275 26% 60%; /* #967BB6 */
    --foreground: 210 40% 98%;
    --card: 220 40% 16%;
    --card-foreground: 210 40% 98%;
    --popover: 220 40% 12%;
    --popover-foreground: 210 40% 98%;
    --primary: 340 90% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 10% 23%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 10% 23%;
    --muted-foreground: 215 20% 65%;
    --accent: 210 10% 23%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 23%;
    --input: 210 10% 23%;
    --ring: 340 90% 65%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 283 18% 44%; /* #805B87 */
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 340 90% 65%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 282 10% 40%; /* #695C73 */
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 210 10% 23%;
    --sidebar-ring: 340 90% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
